.image{
	position:fixed;
	display:block;
	z-index:-1;
	width:100%;
	height:100%;}
	
*{
	padding:0;
	margin:0;}

	h1
	{
	 color:FFFFFF;
	 font-family:Algerian;
	 font-size:22pt}

	h2
	{color:FF0000;
	 font-family:Cooper Black;
	 font-size:18pt}

	p
	{color:FF0000;
	 font-family:Colonna MT;
	 font-size:23pt}

	h4
	{color:FFD700;
	font-family:Arial;
	fon-size:14pt}

	a{color:FFFFFF;}