.image{
	position:fixed;
	display:block;
	z-index:-1;
	width:100%;
	height:100%;}
	
	*{
		padding:0.5;
		margin:0.5;}
	h1
	{
	 color:FF0000;
	 font-family:Broadway;
	 font-size:40pt;
	 }

	h2
	{color:FFFFFF;
	 font-family:Elephant;
	 font-size:18pt;
	 margin-top:50px;
	 }


	h4
	{color:FF0000;
	font-family:Arial;
	font-size:10pt}

	
	#movvs{
	width:200px;
	height:560px;
	margin-left:60px;
	float:left;
	padding:5px 10px;
	border:5px solid yellow;
	background: black}
	
	img{
	width:200px;
	height:300px;
	